@charset "utf-8";
/* CSS Document */

*
{
  margin=0;
  padding=0;
  box-sizing: border-box;
    
}

:focus{
  outline:none;  
    
}

body
{
   background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
   font-family: 'Open sans';
   background-size: cover;
   background-attachment: fixed;
}

.imagen1
{
 position:absolute;
 width: 100%;
 height: 66%;
}


.contenedor1::before
{
    content:"";
    width:100%;
    height: 66%;
    position:absolute;
    top:0;
    left:0;
   background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    opacity: 0.3;
}


.logo
{
   position:absolute;
   left:10%;
    top:18%;
    
}



 .imagen1
{  
   content: "";
   width:50%;
   height: 50%;
   position:absolute;
   top:0;
   left:0%;
   background-size:cover;
   background-position: center center;
   
}

.linea3
{
    position: absolute;
    top:129%;
}


#privacidad 
{
    
    position:absolute;
    top:6%;
    left:7%;
    cursor: pointer;
    text-decoration: none;
       
   
}

#privacidad p{
    font-size: 1em;
    font-weight: bold;
    line-height: 1.6em;
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    height: 20%;
    color: azure;
   

}

#privacidad p :hover{
    
    color: rgba(88,87,87,1.00);
}

#privacidad img

{
  position:absolute;
  left:-4%;
}



#mapa
{
    position:absolute;
    top:6%;
    left:22%;
    cursor: pointer;
    text-decoration: none;
    
}

#mapa p
{
   font-size: 1em;
   font-weight: bold;
    line-height: 1.6em;
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    height: 20%;
    color: azure;
  
    
}

#mapa p:hover
{
    color: rgba(100,97,97,1.00);  
}

#mapa img
{
    position: absolute;
    left:-4%;
    top:2%;
    border-radius:0.3em;

}


#micorreo img
{
    position:absolute;
    top:6%;
    left:48%;
    cursor: pointer;
    
    
}

#micorreo p
{
   position:absolute;
    top:3%;
    left:50%;
    cursor: pointer;
    color: azure; 
    
}

#micorreo
{
    font-size: 1em;
   font-weight: bold;
    line-height: 1.6em;
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    height: 20%; 
    
}

#micorreo p: hover
{
     color: rgba(100,97,97,1.00);
}

#sigueme
{
   position: absolute;
   left:67%;
   top:3%; 
   font-size: 1em;
   font-weight: bold;
    line-height: 1.6em;
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    height: 20%;
    color:azure;
}

.twiter{
    cursor: pointer;
    position: absolute;
    left: 77%;
    top: 5%;
}

.facebook{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 4%;
}
    
.instagram{
    cursor: pointer;
    position: absolute;
    left: 74%;
    top: 5%;    
    }


#¨register¨

{  
 width: 11%;
 height: 5%;
 background-color:rgba(168,224,244,1.00);
 border-radius: 5em;
 transition: background-color 1s;
 cursor: pointer;
 position:absolute;
 left: 74%; 
 top: 35%;
}

#¨register¨:hover{
    
background-color:rgba(100,97,97,1.00);
}

#¨register¨ p{
    
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.6em;
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    height: 20%;  
    
}

.link
{text-decoration: none;
 color:rgba(6,5,5,1.00);
}
 
#logo{
    position: absolute;
    left: 15%;
    top: 2%;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    text-decoration: none;
}

#¨INDICE¨{

background-color:rgba(169,225,245,1.00);
}

#¨BOTON¨

{
 width: 11%;
 height: 5%;
 background-color:rgba(168,224,244,1.00);
 border-radius: 5em;
 transition: background-color 1s;
 cursor: pointer;
 position:absolute;
 left:38%; 
 top: 35%;
 
    
}

#¨BOTON¨:hover {
    
    background-color:rgba(100,97,97,1.00);      
}

#¨BOTON¨ p{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.6em;
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    height: 20%;
}

#¨BOTON2¨

{
 
 width: 11%;
 height: 5%;
 background-color:rgba(168,224,244,1.00);
 border-radius: 5em;
 transition: background-color 1s;
 cursor: pointer;
 position:absolute;
 left:50%; 
 top: 35%;
 
    
}
#¨BOTON2¨:hover {
    
    background-color:rgba(100,97,97,1.00);      
}

#¨BOTON2¨ p{
    
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.6em;
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    height: 20%;
}

#¨BOTON3¨

{
 width: 11%;
 height: 5%;
 background-color:rgba(168,224,244,1.00);
 border-radius: 5em;
 transition: background-color 1s;
 cursor: pointer;
 position:absolute;
 left:62%; 
 top: 35%;
 
    
}
#¨BOTON3¨:hover {
    
    background-color:rgba(100,97,97,1.00);      
}

#¨BOTON3¨ p{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.6em;
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    height: 20%;
}


/* .boton

{   
 width:20px;
 height: 20px;
 text-decoration:none;
 color: black;
 font-size:20px;
}*/

.boton

{   
 width:1,25em;
 height: 1,25em;
 text-decoration:none;
 color: black;
 font-size:1,25em;
}




#presentacion
{
   position: absolute;
   width:28%; 
   height: 40%;
   left: 17%;
   top: 70%;
    
}

#presentacion p
{
   text-align: justify;   
    
}

#Medidas
{
   position: absolute;
   width:66%; 
   height: 40%;
   left: 17%;
   top: 120%;
    
}

#Medidas p
{
   text-align: justify;   
    
}


#Veracidad
{
   position: absolute;
   width:66%; 
   height: 40%;
   left: 17%;
   top: 150%;
    
}

#Veracidad p
{
   text-align: justify;   
    
}

#Derechos
{
   position: absolute;
   width:66%; 
   height: 40%;
   left: 17%;
   top: 180%;
    
}

#Derechos p
{
   text-align: justify;   
    
}

#Datos
{
   position: absolute;
   width:66%; 
   height: 40%;
   left: 17%;
   top: 260%;
    
}

#Datos p
{
   text-align: justify;   
    
}
 
 

#diseñador
{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-style:italic;
    
    
}
     


#¨login¨{
    
 width: 11%;
 height: 5%;
 background-color:rgba(120,226,248,1.00);
 border-radius: 5em;
 transition: background-color 1s;
 cursor: pointer;
 position:absolute;
 left: 85%; 
 top: 5%;
    
}

#¨login¨:hover {
 background-color:rgba(77,76,76,1.00);
    
}

#¨login¨ p{
    
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.6em;
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    height: 20%;
    
    
}



.offline
{
  position: absolute;
  left:18%;
  top:200%;
     
}

.offline h5
{
  position: absolute;
  left:30%;
  top:13%;
   
       
}

.online
{
  position: absolute;
  left:55%;
  top:200%;  
}

.online h5
{
  position: absolute;
  left:25%;
  top:10%;  
}

.branding
{
  position: absolute;
  left:18%;
  top:240%;  
}

.branding h5
{
  position: absolute;
  left:25%;
  top:10%;  
}

.diseño-inte
{
  position: absolute;
  left:55%;
  top:240%;  
}

.diseño-inte h5
{
  position: absolute;
  left:25%;
  top:10%;  
}

.juntos 
{
    position: absolute;
    left:30%;
    top:290%;
    font-size:60px;
    font-weight: bold;
}

.juntos .corr-2
{
   position: absolute;
    left:14%;
    top:50%;
    font-size:30px;
   font-weight: bold;  
    
}

.juntos .linea1
{
    position: absolute;
    left:-30%;
    
}

.juntos .linea2
{
    position: absolute;
    left:-30%;
    
}

.footer
{
   width:102%;
   height: 25em;
   background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    top:137.5em;
    left:-1%;
    position:relative;
   
  
}

#Perfil
{
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    left: 10%;
    top: 25%;
    text-align:;
    font-size:1,0625em;
    width: 17%;
  
}

.logofoot
{
   position:absolute;
    left:76%;
    top:20%;
    opacity: 0.6;
    
}

.ins-ultimo h2
{
   position:absolute;
   left: 35%;
   top: 25%;
   
}

.ins-ultimo img
{
   position:absolute;
   left: 35%;
   top: 46%;  
    
}

.ins-ultimo .ima2
{
   position:absolute;
   left: 42%;
   top: 46%;  
    
}

#twi h2
{
  position:absolute;
   left: 55%;
   top: 25%;  
   
}

#twi p
{
  position:absolute;
   left: 55%;
   top: 38%;  
   
}

#twi #ave
{
   position:absolute;
   left: 65%;
   top: 30%;  
   
    
}

#twi #taza
{
   position:absolute;
   left: 61%;
   top: 28%;  
    
    
}


@media screen and (max-width: 1024px)
    
{
   body
    {
        font-size:14px; 
    }
    
    
    .contenedor1::before
{
    
    width:100%;
    height: 56%;
    position:absolute;
  
}
    
.imagen1 img
    {
     width: 200%;
     height: 112%;
        
    }
    
    
    #privacidad img

   {
   position: absolute;
    width:20px ;
    height:20px ;
   }
    
    #mapa img
    {
    position: absolute;
    width:17px ;
    height:20px ;
    }
    
    #micorreo img
    {
    position: absolute;
    width:20px ;
    height:14px ;
    left:47%;
    }
    
    #micorreo p
    {
        top:4%;
    }
    
    .twiter img{
    position: absolute;
    width:20px ;
    height:20px ;
   }
    
    .twiter
    {
      left:80%;
      top:6%;  
    }

 
    
    .instagram img{
    position: absolute;
    left: 74%;
    top: 5%; 
    width:20px ;
    height:20px ;
    }
    
    .instagram
    {
      left:77%;
      top:6%;   
        
    }
    
    #sigueme
    {
      left:69%;
      top:4%;   
    }
    
    .offline 
{
  position: absolute;
  top:150%;
     
}
    
    .online
{
  position: absolute;
  top:150%;
        
}

   .branding
{
  position: absolute;
  top:190%;
        
}
    
   .diseño-inte
{
  position: absolute;
  top:190%;
        
}
    
.juntos
{
  position: absolute;
  top:230%;
  left:20%;
        
}
 
 
    
}


@media screen and (max-width: 768px)
{
    
  body
    {
        font-size:12px; 
    }
    
    
    .contenedor1::before
{
    
    position: absolute;
    width:115%;
    height: 100%;
    
}
    
    #privacidad img

   {
   position: absolute;
    width:20px ;
    height:20px ;
   }
   
   #mapa
    {
    position:absolute;
    top:6%;
    left:27%;
    }
    
    #mapa img
    {
    position: absolute;
    width:17px ;
    height:20px ;
    }
    
    #micorreo img
    {
    position: absolute;
    width:20px ;
    height:14px ;
    left:47%;
    }
    
    #micorreo p
    {
        top:4%;
    }
    
    .twiter img{
    position: absolute;
    width:20px ;
    height:20px ;
   }
    
    .twiter
    {
      left:84%;
      top:6%;  
    }

 
    .instagram img{
    position: absolute;
    left: 80%;
    top: 5%; 
    width:20px ;
    height:20px ;
    }
    
    .instagram
    {
      left:81%;
      top:6%;   
        
    }
    
    #sigueme
    {
      left:72%;
      top:4%;   
    }
    
    #¨login¨
    {
    left: 86%; 
    top: 35%;
        }
    
    .imagen1 img
    {
        position: absolute;
        width:115%;
        height: 146%;
        
    }
    

    #presentacion
{
   width:70%; 
   height: 40%;
   left: 17%;
   top: 148%;
    
}

#presentacion p
{
   text-align: justify;   
    
}
    
       
.juntos 
{
    position: absolute;
    left:23%;
    top:275%;
    font-size:40px;
    font-weight: bold;
}

.juntos .corr-2
{
   position: absolute;
    left:1%;
    top:50%;
    font-size:30px;
   font-weight: bold;  
    
}

.juntos .linea1
{
    position: absolute;
    left:-30%;
    width: 600px;
    
}

.juntos .linea2
{
    position: absolute;
    left:-30%;
    width: 600px;
    
}
    
    
.logofoot
{
   position:absolute;
    left:76%;
    top:20%;
    opacity: 0.6;
    
    
}
    
.logofoot img
    {
     width: 140px;
     height: 140px;  
        
    }

.ins-ultimo h2
{
   position:absolute;
   left: 35%;
   top: 25%;
   
}

.ins-ultimo img
{
   position:absolute;
   left: 35%;
   top: 46%;  
    
}

.ins-ultimo .ima2
{
   position:absolute;
   left: 42%;
   top: 46%;  
    
}

#twi h2
{
  position:absolute;
   left: 55%;
   top: 25%;  
   
}

#twi p
{
  position:absolute;
   left: 55%;
   top: 38%;  
   
}

#twi #ave
{
    position: absolute;
    left:525px;
}

    
#twi #taza
{
   position:absolute;
   left: 480px;
       
    
}
    
.ins-ultimo img
{
   position:absolute;
   left: 35%;
   top: 46%;  
    
}
    
#taza img
    {
        width: 30px;
        height: 30px;
    }
    
#ave img
    {
        width: 23px;
        height: 23px;
    }
    
    
.ins-ultimo img
    {
      width: 50px ;
      height:57px ;
        
    }

.ins-ultimo .ima2
{
   position:absolute;
   left: 42%;
   top: 46%;  
    
}
    
#Perfil
{
    width: 200px;
  
}
    
   .offline 
{
  position: absolute;
  top:200%;
     
}
    
    .online
{
  position: absolute;
  top:200%;
        
}

   .branding
{
  position: absolute;
  top:237%;
        
}
    
   .diseño-inte
{
  position: absolute;
  top:237%;
        
}
    
    
    
}

@media screen and (max-width: 992px)
    
{   
   .imagen1
{
    width:87%;
    height: 45%;
    position:absolute;     
        
}
    
   .contenedor1::before
{
    width:100%;
    height: 66%;
    position:absolute;
   
}


}

@media screen and (max-width: 375px)
{
    
  
    #privacidad img

   {
   position: absolute;
    width:20px ;
    height:20px ;
   }
    
    #privacidad p
    {
     display: none;
    }
   
   #mapa
    {
    position:absolute;
    top:6%;
    left:15%;
    }
    
    #mapa p
    {
    display: none;
    }
    
    #mapa img
    {
    position: absolute;
    width:17px ;
    height:20px;
    }
    
    #micorreo img
    {
    position: absolute;
    width:20px ;
    height:20px ;
    left:22%;
    top:6%;
    }
    
    #micorreo p
    {
        display: none;
    }
    
    .twiter img{
    position: absolute;
    width:20px ;
    height:20px ;
   }
    
    .twiter
    {
      left:89%;
      top:6%;  
    }

 
    .instagram img{
    position: absolute;
    left: 80%;
    top: 5%; 
    width:20px ;
    height:20px ;
    }
    
    .instagram
    {
      left:81%;
      top:6%;   
        
    }
    
    #sigueme
    {
      left:63%;
      top:4%;   
    } 
    
    .logo
    {
        position: absolute;
        left: 25%;
        top:15%;
    }
    
    #¨BOTON¨
    {
        position: absolute;
        left:5%;
        top:55%;
        width: 16%;
        height: 3%;
    }
    
    #¨BOTON2¨
    {
        position: absolute;
        left:23%;
        top:55%;
        width: 16%;
        height: 3%;
    }
    
    #¨BOTON3¨
    {
        position: absolute;
        left:40%;
        top:55%;
        width: 16%;
        height: 3%;
    }
    
    #¨register¨
    {
       position: absolute;
        left:59%;
        top:55%;
        width: 16%;
        height: 3%;    
    }
    
    #¨login¨
    {
       position: absolute;
        left:78%;
        top:55%;
        width: 16%;
        height: 3%;    
    }
    
     .offline 
{
  position: absolute;
  top:230%;
  left:25%;
     
}
    
    .online
{
  position: absolute;
  top:266%;
  left:25%;
        
}

   .branding
{
  position: absolute;
  top:300%;
  left:25%;
        
}
    
   .diseño-inte
{
  position: absolute;
  top:330%;
  left:25%;
        
}
    
.juntos
{
  position: absolute;
  top:359%;
  left:12%;
  font-size:30px; 
        
}
    
.juntos .corr-2
{
  position: absolute;
  font-size: 20px;
}
    
.footer
{
 position: absolute;
 top:400%;
                
}
    
    
#Perfil
{
  position: absolute;
  top:23%;
  left:15%;
        
}
    
.ins-ultimo h2
{
   display: none;
   
}

.ins-ultimo img
{
  display: none;
}

.ins-ultimo .ima2
{
  display: none;  
    
}
#twi h2
{
  display: none; 
   
}

#twi p
{
 display: none; 
   
}

#twi #ave
{
  display: none;
   
    
}

#twi #taza
{
  display: none;
}

.logofoot
{
  position:absolute;
  top:23%;
  left:50%;
}

    
}